<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="./" method="GET">
        URL:&nbsp; <input type="url" name="url"/><br>
        Number of Views: &nbsp;<input type="number" name="noOfViews"/><br>
        Number of Threads: &nbsp;<input type="number" name="threads"/><br>
        Duration per View: &nbsp;<input type="number" name="duration"/><br>
        <input type=submit />
    </form>
</body>
</html>